//-------------------------------------------------\\
// SASS MANIFEST
//-------------------------------------------------\\

@import 'app/base/colors';
@import 'app/base/variables';
@import 'app/base/typography';

@import 'app/utilities/align';
@import 'app/utilities/animation';
@import 'app/utilities/background';
@import 'app/utilities/center';
@import 'app/utilities/clearfix';
@import 'app/utilities/hidden';
@import 'app/utilities/mixins';
@import 'app/utilities/spacings';

@import 'app/layout/breakpoints';
@import 'app/layout/flexbox';
@import 'app/layout/grid';
@import 'app/layout/modal';

@import 'app/component/button';
@import 'app/component/form';
@import 'app/component/image';
@import 'app/component/list';


html {
    box-sizing: border-box;
    font-size: 10px;  //-> so that rems are easy to calculate
}
*,*::before,*::after {
    box-sizing: inherit;
}
