//----------------------------------\\
// ALIGNMENTS
//----------------------------------\\

.u-center {
    text-align: center;
}

.u-left {
    text-align: left;
}

.u-right {
    text-align: right;
}

.u-v-middle {
    top: 50%;
    transform: translateY(-50%);
}

.u-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
