//----------------------------------\\
// COLORS
//----------------------------------\\


$white: #ffffff;
$black: #000000;

// GREYSCALE
//----------------------------------\\
$grey-lightest:#e6e6e6;
$grey-lighter: #cccccc;
$grey-light:   #b3b3b3;
$grey:         #999999;
$grey-dark:    #808080;
$grey-darker:  #666666;
$grey-darkest: #4d4d4d;

// BRAND
//----------------------------------\\
// $primary:
// $secondary:
// $tertiary:
// $highlight:
// $primary-darker:   darken($primary, 5%);
// $secondary-darker: darken($secondary, 5%);
// $tertiary-darker:  darken($tertiary, 5%);
// $highlight-darker: darken($highlight, 5%);

// USER NOTIFICATION
//----------------------------------\\
$success: #5cb85c;
$warning: #f0ad4e;
$error:   #d9534f;
